pytest
pytest-mock
ipykernel
xarray
netcdf4
scipy
matplotlib
termcolor
natsort
scikit-learn
seaborn
lightning
torch
torchvision==0.2.0+computecanada
numpy
pandas
h5py
psutil
gpustat
jupyter
jupyterlab
tensorboard
colorama